<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seminar 3. Task 1</title>
</head>

<body>
    <h1>Flask and FastAPI</h1>
    <h2>Seminar 3. Task1</h2>
    <br><br>
    <form action="/students/">
        <input type="submit" value="Показать студентов">
    </form>
</body>

</html>