<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
</head>
<body>

<h2>Регистрация пользователя</h2><br>

<form action="/user_add/" method="post">
    <input type="text" id="name" name="name" placeholder="Введите Имя" required><br>
    <input type="email" id="email" name="email" placeholder="Введите E-mail"><br>
    <input type="password" id="password" name="password" placeholder="Введите Пароль" required><br>
    <input type="submit" value="Зарегистрировать">
</form>

</body>
</html>