<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>S3 T4</title>
</head>

<body>
    <h1>Flask and FastAPI</h1>
    <h2>Seminar 3. Task 4</h2>
    <br><br>
    <h3> {{ message }} </h3>
    <form action="/registration">
        <input type="submit" value="Регистрация">
    </form>

    <br><br>
    <form action="/userlist">
        <input type="submit" value="Показать пользователей">
    </form>
</body>

</html>